---
import ContentNavigation from "@components/ContentNavigation.astro"
import Header from "../components/Header.astro"
import Navigation from "../components/Navigation.astro"

export interface Props {
  title: string
  content: {
    title: string
    section: string
    description: string
  }
}

const {
  content = {
    title: "Title",
    section: "Section",
    description: "Description",
  },
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{content.title}</title>
  </head>
  <body>
    <Header />
    <main
      class="relative flex justify-center mx-auto max-w-8xl sm:px-2 lg:px-8 xl:px-12"
    >
      <Navigation />

      <div
        class="flex-auto max-w-2xl min-w-0 px-4 py-10 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16"
      >
        <article class="lg:ml-[220px]">
          <header class="">
            <p class="text-base font-medium text-slate-500">
              {content.section}
            </p>

            <h1 class="text-3xl font-bold tracking-tight text-[#6488ea]">
              {content.title}
            </h1>
          </header>

          <p class="mt-2 text-xl text-slate-600">
            {content.description}
          </p>

          <div
            class="mt-8 prose prose-slate max-w-none prose-headings:font-semibold prose-headings:tracking-tight prose-lead:text-slate-500 prose-a:font-semibold prose-a:underline prose-pre:bg-slate-900"
          >
            <slot />
          </div>
          <ContentNavigation />
        </article>
      </div>
    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-size: 224px;
  }
  h1 {
    font-size: 1.875rem;
    font-weight: bolder;
    letter-spacing: -0.01em;
    color: #1a202c;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.01em;
    color: #1a202c;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: -0.01em;
    color: #1a202c;
  }
  p {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    color: #4a5568;
  }
  a {
    color: #6488ea;
    text-decoration: underline;
  }
  li {
    font-size: 1.25rem;
    list-style: disc;
    margin-left: 2.2rem;
    color: #4a5568;
  }
  img {
    border-radius: 8px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
    border-radius: 8px;
  }
</style>
